.background{
    background-image: url("https://i.ibb.co/jwbzPJJ/chef-holding-pan-with-fire-inside.jpg");
    background-size: cover;
    height: 100vh;
}

@media only screen and (max-width: 992px) {
    .background{
        height: 120vh;
    }
}

@media only screen and (max-width: 1500px) {
    .background{
        height: 140vh;
    }
}



@media only screen and (min-width: 1080px) {
    .width-set{
        width: 25%;
    }
}